.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}



.help{
	
	color: grey;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	
}


	